[Unit]
Description=PAYMENT
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/4HBYTES/payment/env/bin/python manage.py runserver -p 8081
WorkingDirectory=/opt/4HBYTES/payment/src
User=root
Group=root
Restart=always
Environment=SQLALCHEMY_DATABASE_URI="{{payment_db_uri}}"
SyslogIdentifier=payment
Environment=PAYPAL_MODE=sandbox
Environment=PAYPAL_CLIENT_ID=ASsPRF5PWPAt2tth8sicGVtcQcee7aXsPsMzic7-whdbhO0LxO0eDVX-ijOg2_8FUe28FwP0lDVZcSyN
Environment=PAYPAL_CLIENT_SECRET={{cms_paypal_client_secret}}
Environment=PAYPAL_RETURN_URL=http://shindagha-payment.wowi.io/payment/paypal/progress
Environment=PAYPAL_CANCEL_URL=http://shindagha.wowi.io/
Environment=PAYPAL_SUCCESS_URL=http://shindagha.wowi.io/user/payment/success
Environment=PAYPAL_FAILURE_URL=http://shindagha.wowi.io/user/payment/failure
Environment=PAYPAL_TRANSACTION_DESCRIPTION='Paypal transaction'
Environment=CMS_API=http://shindagha-cms.wowi.io/

[Install]
WantedBy=multi-user.target
